@import './base.css';

h1 {
  font-weight: 700;
  font-size: 21px;
}

textarea {
  background: rgb(242, 242, 242);
  color: #222222;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

main>div {
  padding: 20px;
}

button {
  background: rgb(242, 242, 242);
  padding: 2px 3px 2px 3px;
  margin: 2px 3px 2px 3px;
  border: 1px solid rgba(20, 20, 20, 0.8);
  border-radius: 5px;
  cursor: pointer;
}